<ion-header [translucent]="true">
  <ion-toolbar>
    <p align="center">
      <ion-title>
        Bienvenida a tu tienda de moda y asesoramiento
      </ion-title>
    </p>
  </ion-toolbar>
</ion-header>


<ion-content text-center [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <p align="center">
        <ion-img src="assets/logo.png" width="128"></ion-img>
      </p>
    </ion-card-header>
    <ion-col>
      <p align="center">
        <ion-button (click)="goToArticle()" size="large" class="button button_centered">Entra en tu tienda de moda
        </ion-button>
      </p>
    </ion-col>
  </ion-card>
</ion-content>