<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Agrega nuevos productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input formControlName="price" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Colección</ion-label>
        <ion-input formControlName="collection" type="text" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col width-50>
          <ion-button type="submit" color="light" expand="block"> Añadir </ion-button>
        </ion-col>
        <ion-col width-50>
          <ion-button (click)="goBack()" expand="block">Volver</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ion-list>
</ion-content>